<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include "./components/head.njk" %}
    </head>
<body>
<header>
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <a href="#"><img src="./img/house.png"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">
                            Инфраструктура
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            Планировки и цены
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            Материалы и отделка
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            Документы
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
                <div class="call">
                    <div class="phone">
                        +7 (495) 982-53-64
                    </div>
                    <div class="makecall">
                        <a href="#"> <i class="bi bi-telephone-fill"></i> Заказать звонок</a>
                    </div>
                </div>
        </div>
    </div>
</header>

<section id="description__first">
    <div class="container">
        <div class="block__first">
            <div class="heading">
                <p> <span>Дом готов,</span> идёт внутренняя отделка. Срок сдачи: <span>Февраль 2016 </span></p>
                <p>Ваша квартира в новострое ждет вас</p>
                <p>Уютные квартиры в центре города и в <span> 5 минутах от р. Волга </span> </p>
            </div>
            <div class="request__info">
                <p>Запишитесь на просмотр прямо сейчас!</p>
                <p>Покажем Вам квартиры в удобное для Вас время</p>
                <div class="personal__info">
                    <form>
                        <label>
                            <i class="bi bi-person-fill"></i>
                            <Input type="text" placeholder="Имя" class="Input">
                        </label>
                            <label>
                            <i class="bi bi-telephone-fill"></i>
                            <Input type="phone" placeholder="Телефон" class="Input">
                        </label>
                        <button type="submit" class="act">Записаться на просмотр!</button>
                    </form>
                </div>
                <div class="flat">
                    <p>Осталось всего  <span>5</span>  квартир!</p>
                    <img src="../img/flat.png">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="advantages">
        <div class="item">
            <span>5 минут</span>
            до центра
        </div>
        <div class="item">
            <span>300 метров</span>
            до Волги
        </div>
        <div class="item">
            <span>Экологически
                чистое</span>
            место
        </div>
        <div class="item">
            <span>Бесплатная
                кладовка</span>
            в подвале
        </div>
        <div class="item">
            <span>Бесплатное
            парковочное
                место</span>
        </div>
        <div class="item">
            <span>Бюджетная
                отделка под ключ:</span>
            въехал и живи
        </div>
    </div>
</div>


<div class="decoration">
        <div class="decoration-content">
            <h2>Дом готов. Идёт внутренняя отделка</h2>
            <p><i class="bi bi-flag"></i> Срок сдачи: Февраль 2016</p>
        </div>
    <div class="like">
        <img src="../img/like.png">
    </div>
</div>

<section id="description__second">
    <h1>ИДЕАЛЬНОЕ РАСПОЛОЖЕНИЕ ДОМА</h1>
    <p>Тихий и экологически чистый район</p>
    <div class="container">
        <div class="environment">
            <div class="image">
                <img src="../img/picture-1.png">
                <p> <span>Близость к реке</span><br>
                    До Волги 300 метров
                </p>
            </div>
            <div class="image">
                <img src="../img/picture-2.png">
                <p><span>Зеленые зоны</span><br>
                    Березовая роща и сосновый бор
                </p>
            </div>
            <div class="image">
            <img src="../img/picture-3.png">
                <p><span>Соседи и атмосфера</span><br>
                    Коттеджи и деревенская
                    застройка вокруг
                </p>
            </div>
        </div>
    </div>
</section>

<section id="description__third">
    <h1>РАЗВИТАЯ ИНФРАСТРУКТУРА</h1>
    <div class="container">
        <div class="infostructure">
                <div class="column">
                    <h3>Заголовок про стену</h3>
                    <img src="../img/shade.png">
                    <p>Волга: 350м, центральный пляж: 900м</p>
                    <p>Авто парковка 5м.</p>
                    <p>Игровая детская площадка 2м.</p>
                    <p>4 продуктовых магазина в пределах 500м.</p>
                    <p>Центр города: 4км.</p>
                    <p>Почта 150007: 600м.</p>
                </div>
                <div class="column">
                    <h3>Образовательные объекты</h3>
                    <img src="../img/shade.png">
                    <p>Детский сад №173 300м.</p>
                    <p>Школа №46 900м.</p>
                    <p>Школа №50  1300м.</p>
                    <p>Школа №97 1000м.</p>
                    <p>Гимназия №3 2400м</p>
                </div>
                <div class="column">
                    <h3>Транспортные остановки</h3>
                    <img src="../img/shade.png">
                    <p>Союзная: 300м</p>
                    <p>К-тр.Дружба: 600м</p>
                    <p>Школа 50: 1100м.</p>
                </div>
        </div>
    </div>
</section>

<div class="decoration__second">
    <div class="container">
        <div class="decoration__content2">
            <div class="dec">
                <img src="../img/sand.png">
                <p>
                    <span>До центра 5 минут на машине</span>
                    <br>или общ. транспорте
                </p>
            </div>
            <div class="dec">
                <img src="../img/kids.png">
                <p>
                    <span>3 школы и детский садик</span>
                    <br>в  шаговой доступности
                </p>
            </div>
            <div class="dec">
                <img src="../img/hz.png">
                <p>
                    <span>Вся необходимая инфрастуктура</span>
                    <br>продумана и обеспечена
                </p>
            </div>
        </div>
    </div>
</div>

<section id="description__fourth">
    <h1>ПРОДУМАННАЯ КОНСТРУКЦИЯ ДОМА</h1>
    <div class="container">
        <div class="construction">
            <div class="dev">
            <h3>Заголовок про стену</h3>
                <img src="../img/wall.png">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took </p>
            </div>
            <div class="dev">
                <h3>Заголовок про кровлю</h3>
                <img src="../img/roof.png">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make  </p>
            </div>
            <div class="dev">
                <h3>Заголовок про канализацию</h3>
                <img src="../img/tube.png">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
            </div>
        </div>
    </div>
</section>

<div class="complectation">
    <h1>Комплектация</h1>
    <div class="container">
        <h3>В каждой квартире</h3>
        <div class="net">
            <div class="test">
                <p><i class="bi bi-patch-check"></i> Газовый котёл: Название</p>
                <p><i class="bi bi-patch-check"></i> Ванна: Металлическая</p>
                <p><i class="bi bi-patch-check"></i> Умывальник: Керамический</p>
                <p><i class="bi bi-patch-check"></i> Унитаз: Керамический</p>
                <p><i class="bi bi-patch-check"></i> Газовая плита: Четырех конфорочная</p>
            </div>
            <div class="test">
                <p><i class="bi bi-patch-check"></i> Балкон: Застекленный</p>
                <p><i class="bi bi-patch-check"></i> Отделка пола: Линолеум</p>
                <p><i class="bi bi-patch-check"></i> Отделка пола в с/у: Плитка</p>
                <p><i class="bi bi-patch-check"></i> Отделка стен: Водоэмульсионная краска</p>
            </div>
            <div class="test">
                <p><i class="bi bi-patch-check"></i> верь входная:  Стальная</p>
                <p><i class="bi bi-patch-check"></i> Двери межкомнатные: Деревянные</p>
                <p><i class="bi bi-patch-check"></i> Окна:  ПВХ</p>
                <p><i class="bi bi-patch-check"></i> Отделка стен в с/у: Частично плитка керамическая</p>
                <p><i class="bi bi-patch-check"></i> Отделка потолков: Водоэмульсионная краска</p>
            </div>
        </div>
    </div>
</div>

<section id="description__fifth">
    <h1>У НАС ЕСТЬ ВСЕ НЕОБХОДИМЫЕ ДОКУМЕНТЫ</h1>
    <h3>Обеспечивающие надежность и Вашу защиту</h3>
    <div class="container">
        <div class="license">
            <div class="declare">
            <img src="../img/declare1.png">
            </div>
            <div class="declare">
                <img src="../img/declare2.png">
            </div>
            <div class="declare">
                <img src="../img/declare3.png">
            </div>
            <div class="declare">
                <img src="../img/declare4.png">
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer">
            <a href="#"><img src="../img/logo2.png"></a>
            <div class="copyright">
               <p>2015 Все права защищены<br>
                <span>Политика конфиденциальности</span>
               </p>
            </div>
            <div class="address">
                <p><span>Адрес офиса:</span><br>
                Ярославская область<br>
                р-н Заволжский, ул.3-я Тверицкаяд.32
                </p>
                <p> <span>E-mail:</span> info@sitename.ru </p>
            </div>
            <div class="call2">
                <div class="phone2">
                    <p>+7 (495) 982-53-64</p>
                </div>
                <div class="makecall2">
                    <a href="#"><i class="bi bi-telephone-fill"></i> Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>