@import "global";
@import "helpers/mixins";
@import "helpers/variables";

* {
  font-family: 'Roboto Slab', serif !important;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}

header {


  .header {
    display: flex;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 16px;

    .menu {
      display: flex;
      margin-left: 52px;

      .menu-item  {

         a {
           margin-right: 25px;
           font-size: 14px;
           font-weight: bold;
           line-height: 1.21;
           letter-spacing: 0.28px;
           text-align: left;
           color: #000000;
           text-decoration: none;
           white-space: nowrap;
         }

        &:nth-child(2) {

          a {
            border-radius: 5px;
            background-color: #f7f2fe;
            padding: 10px;
            text-align: center;
          }

        }
      }
    }
  }

  .call {

    .phone {
      float: right;
      font-size: 21px;
      font-weight: bold;
      line-height: 0.81;
      text-align: right;
      color: #2f1059;
      white-space: nowrap;
      margin-bottom: 23px;
    }

    .makecall {
      float: right;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.21;
      text-align: left;
      color: #2f1059;

      a {
        border-radius: 4px;
        border: solid 1px #2f1059;
        padding: 9px 5px 11px 10px;
        text-decoration: none;
      }
    }
  }
}

#description__first {
  background-image: url("../img/section1.png");
  background-repeat: repeat;
  height: 627px;
  background-position: center;

  .block__first {
    display: inline-block;
  }

  .heading {
    background-image: url("../img/cloud.png");
    background-repeat: no-repeat;
    width: 1111px;
    height: 191px;
    text-align: center;

    p {

      &:nth-child(1) {
        margin-top: 30px;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.27;
        text-align: center;
        color: #2f1059;
        margin-bottom: 23px;
        padding-top: 40px;
      }

      &:nth-child(2) {
        font-size: 43px;
        font-weight: bold;
        line-height: 0.4;
        letter-spacing: 0.86px;
        text-align: center;
        color: #2f1059;
        text-transform: uppercase;
        margin-bottom: 8px;
      }

      &:nth-child(3) {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        color: #2f1059;
        margin-top: 8px;
        display: inline-block;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .request__info {
    background-image: url("../img/request-info.png");
    background-repeat: no-repeat;
    width: 790px;
    height: 238px;
    text-align: center;
    margin: 216px auto 0;
    padding-top: 35px;
    position: relative;

    p {

      &:nth-child(1) {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.04;
        text-align: center;
        color: #fbfafa;
      }

      &:nth-child(2) {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.47;
        text-align: center;
        color: #ffffff;
      }
    }

    .flat {
      position: absolute;
      left: calc(50% - 226px);
      bottom: 0;
      margin-bottom: 13px;


      p {
        font-size: 15.5px;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        color: #7925ec;
        position: absolute;
        top: 27px;
        left: 120px;

        span {
          border-radius: 3px;
          border: solid 1px #7925ec;
          padding: 3px 7px;
          font-weight: 600;
        }
      }
    }

    .personal__info {
      margin-top: 23px;

      label {
        position: relative;

        i {
          position: absolute;
          top: 3px;
          left: 27px;
          color: rgba(0, 0, 0, 0.46);
          }
        }

      .Input {
        //width: 201px;
        height: 51px;
        padding-left: 50px;
        border-radius: 5px;
        border: 0;
      }

      .act {
        //width: 274px;
        background-color: #d22828;
        color: #FFFFFF;
        padding: 18px 27px;
        border-radius: 5px;
        border: 0;
      }
    }
  }

}

.advantages {
  display: flex;
  justify-content: space-around;
  align-content: center;

  .item {
    background-image: url("../img/item.png");
    background-repeat: repeat;
    width: 153px;
    height: 146px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-bottom: 25px;
    margin-right: 50px;

    span {
      font-weight: bold;
    }

    &:nth-child(1) {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.18;
      text-align: center;
      color: #000000;
      margin-top: 195px;
    }

    &:nth-child(2) {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.18;
      text-align: center;
      color: #000000;
      margin-top: 127px;
    }

    &:nth-child(3) {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.18;
      text-align: center;
      color: #000000;
      margin-top: 75px;
    }

    &:nth-child(4) {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.18;
      text-align: center;
      color: #000000;
      margin-top: 75px;
    }

    &:nth-child(5) {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.18;
      text-align: center;
      color: #000000;
      margin-top: 127px;
    }

    &:nth-child(6) {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.18;
      text-align: center;
      color: #000000;
      margin-top: 195px;
      margin-right: 0;
    }
  }
}

.decoration {
  background-image: url("../img/decoration.png");
  background-repeat: repeat no-repeat;
  height: 208px;
  padding-top: 46px;
  position: relative;

  .decoration-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;

    h2 {
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.9;
      margin-bottom: 10px;
      color: #ffffff;
    }
  }

  .like {
    position: absolute;
    left: calc(50% - 72px);
    bottom: 0;
  }
}

#description__second {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;

  h1 {
    font-size: 37px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.74px;
    text-align: center;
    color: #000000;
    padding-top: 50px;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #000000;

    span {
      font-weight: bold;
    }
  }

  .environment {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-bottom: 60px;
  }

  .image {
    display: inline-block;

    &:nth-child(2) {
      margin-top: 50px;
    }

    p {
      margin-top: -20px ;
    }
  }
}

#description__third {
  background-image: url("../img/background-2.png");
  background-repeat: repeat no-repeat;
  background-size: cover;
  height: 470px;
  padding-top: 75px;

  h1 {
    font-size: 37px;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: 0.74px;
    text-align: center;
  }

  .infostructure {
    display: flex;
    justify-content: space-around;
    margin-top: 69px;

    .column {
      align-items: center;
      margin-top: 10px;
      margin-right: 31px;

      &:nth-child(3) {
        margin-right: 0 ;
      }
    }

    h3 {
      font-size: 19px;
      font-weight: bold;
      line-height: 2.32;
      letter-spacing: 0.38px;
      text-align: left;
      color: #000000;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 2.31;
      letter-spacing: 0.32px;
      text-align: left;
      color: #000000;


      &:after {
        content: '';
        display: block;
        width: 340px;
        height: 1px;
        background-color: #dae8da;
      }
    }
  }
}

.decoration__second {
  background-image: url("../img/decoration-3.png");
  background-repeat: repeat no-repeat;
  height: 180px;
  margin-top: -10px;

  .decoration__content2 {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .dec {
    display: flex;
    align-items: center;
    margin-right: 40px;


    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.18;
      text-align: left;
      color: #fbfafa;
      margin-left: 18px;
    }
      span {
        font-weight: bold;
      }


  }
}

#description__fourth {
  h1 {
    font-size: 37px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 51px;
  }

  .construction {
    display: flex;
    justify-content: space-around;
    margin-bottom: 71px;

    .dev {
      align-content: center;
      justify-content: space-around;
      width: 323px;
      margin-right: 51px;

      &:nth-child(3) {
        margin-right: 0 ;
        h3 {
          margin-left: -19px;
        }
      }

      h3 {
      font-size: 22px;
      font-weight: bold;
      line-height: 2;
      text-align: center;
      white-space: nowrap;
    }

    p {
      font-size: 15px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: normal;
      text-align: left;
      margin-top: 20px;
    }
   }
  }
}

.complectation {
  background-image: url("../img/background-3.png");
  background-repeat: repeat no-repeat;
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 50px;

  .container {
    flex-direction: column;
  }

  h1 {
    font-size: 37px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
  }

  h3 {
    display: block;
    font-size: 19px;
    font-weight: bold;
    line-height: 2.32;
    letter-spacing: 0.38px;
    float: left;
    color: #ffffff;
    //margin-left: 185px;
    margin-bottom: 26px;
  }

  .net {
    display: flex;

    .test {
      margin-right: 40px;

      &:nth-child(3) {
      margin-right: 0 ;
      }
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 2.31;
      letter-spacing: 0.32px;
      text-align: left;
      color: #ffffff;
      white-space: nowrap;

      &:after {
        content: '';
        display: block;
        width: 340px;
        height: 1px;
        background-color: #dae8da;
      }
    }
  }
}

#description__fifth {
  background-image: url("../img/background5.png");
  background-repeat: repeat no-repeat;
  background-size: cover;
  padding-top: 83px;
  padding-bottom: 40px;

  h1 {
    font-size: 37px;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }

  h3 {
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    color: #000000;
    margin-top: 18px;
    margin-bottom: 55px;
  }

  .license {
    display: flex;
    justify-content: space-around;
  }
}

footer {
  background-color: #080808;

  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 19px;

    .copyright p {
      font-size: 13px;
      font-weight: 300;
      line-height: 1.31;
      text-align: left;
      color: #fbfafa;

      span {
        text-decoration: underline;
        font-weight: 200;
      }
    }

    .address p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      text-align: left;
      color: #fbfafa;
    }

    span {
      font-weight: bold;
    }
    .call2 {
      display: flex;
      flex-direction: column;

      .phone2 {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 0.81;
        text-align: right;
        color: #ffffff;
        margin-bottom: 23px;
      }

      .makecall2 {
        float: right;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.21;
        text-align: right;
        color: #ffffff;

        a {
          border-radius: 5px;
          border: solid 1px #ffffff;
          color: #FFFFFF;
          padding: 11px 10px 14px 8px;
          text-decoration: none;
        }
      }
    }
  }
}






